@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.main-title .word {
    font-family: 'Sour Gummy', cursive;
    font-size: 2.5rem;
}

.font-sourgummy {
    font-family: 'Sour Gummy', cursive;
}