@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.home {
  text-align: center;
  color: #fff;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sections-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7b8ba6;
  border-radius: 8px;
  color: white;
  font-family: 'Sour Gummy', cursive;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.motion-title {
  font-family: 'Sour Gummy', cursive;
}

.motion-subtitle {
  font-family: 'Sour Gummy', cursive;
}

.section:hover {
  background-color: #2d3748;
}

/* Rotate each section */
.rotate-0 {
  transform: rotate(0deg) translateX(120px);
}

.rotate-120 {
  transform: rotate(120deg) translateX(120px);
}

.rotate-240 {
  transform: rotate(240deg) translateX(120px);
}
