@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


.home {
  text-align: center;
  color: #fff;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.sections {
  display: flex;
  gap: 20px;
  justify-content: center;
}

/*
section style for small screen display flex column
*/

@media screen and (max-width: 768px) {
  .sections {
    flex-direction: column;
    justify-content: center;
  }
}

button {
  background-color: #007acc;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005fa3;
}

.motion-title {
  font-family: 'Sour Gummy', cursive;
  font-size: 2rem;
  margin-bottom: 20px;
}

.motion-subtitle {
  font-family: 'Sour Gummy', cursive;
  /* font-weight: 100; */
  font-size: 1.5rem;
  margin-bottom: 20px;
}