.window-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.window {
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  width: 98%;
  height: 98%;
  display: flex;
  flex-direction: column;
}

.window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d3748;
  color: white;
  padding: 10px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.window-title {
  font-size: 1.2rem;
}

.close-button {
  background-color: #e53e3e;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.close-button:hover {
  background-color: #c53030;
}

.window-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: scroll;
}

/* Estilo personalizado para la barra de desplazamiento en Chrome, Edge y Safari */
.window-content::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra */
}

.window-content::-webkit-scrollbar-track {
  background: #2d3748; /* Fondo de la barra */
}

.window-content::-webkit-scrollbar-thumb {
  background-color: #616e84; /* Color de la barra */
  border-radius: 4px;
}