.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  /* background-color: blueviolet; */
}

.font-sourgummy {
  font-family: 'Sour Gummy', cursive;
}